body{
    /* color: white; */
    /* background-color: rgba(20, 28, 43, 1); */
}

/* navbar */
.navbar{
    background-color: rgba(23, 107, 135, 1);
    /* background-color: rgba(134, 182, 246, 1); */
    /* background-color: rgba(20, 46, 158, 0.8); */
}
.navbar-brand,.nav-link{
    color: white !important;
}
.logo-jti{
    height: 35px;
    padding-right: 10px;
}
.logoadmin{
    width: 19px;
    height: 19px;
    padding-bottom: 3px;
}
/* login admin */
.modal{
    color: black;
}

/* content */
section{
    height: 80vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.search{
    background: rgba(0, 0, 0, 0.5) url(perpus.jpg);
    background-size: contain;
    background-blend-mode: darken;
}
.searchfield,.searchfield:focus{
    width: 47%;
    height: 50px;
    /* background-color: rgb(128, 128, 128, 0.3); */
    background-color: gainsboro;
    /* border: none; */
    border-radius: 15px;
}
.searchfield::placeholder{
    color: black;
}
.btncari,.btncari:hover{
    height: 50px;
    width: 80px;
    /* background-color: rgb(128, 128, 128, 0.3); */
    background-color: rgb(220, 220, 220, 0.9);
    color: black;
    border: none;
    border-left: 2px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btncari:enabled{
    background-color: transparent !important;
}
/* section.search .content{
    text-align: center;
} */